* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-size: 16px;
	font-family: 'Inter', sans-serif;
	cursor: pointer;
}

body {
	min-height: 100vh;
	background-color: pink;
	
}

main {
	max-width: 1040px;
	margin-left: auto;
	margin-right: auto;
}

header {
	background-color: #111;

}

.head {
	max-width: 1040px;
	display: flex;
	gap: 2rem;
	justify-content: space-between;
	margin-right: auto;
	margin-left: auto;
	height: 92px; 
}
.partHeader {
	background-color:;
	display: flex;
	justify-content: space-around;
	width: 80%;


}

.menuHeader ul {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.menuHeader li {
	list-style-type: none;
	margin: 1.5rem;
	color: white;
}


.logo {
	width: 60%;
	margin: 1rem;
	
}
.logo:hover {
	opacity: 70%;
	transition: 0.7s ease;

}
.menuHeader {
	background-color: ;
	width: 70%;
	margin: 1rem;

}
.menuHeader li:hover {
	transition: 0.7s ease;
	opacity: 70%;
}
.contact {
	width: 30%;
	margin: 1rem;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	background-color: 
}



.contact a:hover {
	opacity: 70%;
	transition: 0.7s ease;
	
}
.contact a {
	text-decoration: none;
	margin: 1rem;
}
.mobile-nav-toggle {
	display: none;
}



/*Mobile Version*/


@media (max-width: 768px) {
	body {
	max-width: 720px;
}

header {
	max-width: 720px;
}

.partHeader {

	position: fixed;
	z-index: 1000;
	inset: 0 0 0 30%;
	flex-direction: column;
	background: hsl(0 0% 100% / 0.1);
	/*backdrop-filter: blur(0.2rem);*/


	padding: min(2vh, 10rem) 2rem;

	/*transform: translateX(100%);
}

.partHeader[data-visible="true"] {
	transform: translateX(0%); */
}

.menuHeader ul {
	flex-direction: column;
}
 
 .mobile-nav-toggle {
 	display: block;
 	position: absolute;
 	z-index: 9999;
 	background: url(images/hamburger.svg);
 	
 	background-repeat: no-repeat;

 	border: 0;
 	width: 2.5rem;
 	aspect-ratio: 1;
 	top: 1.5rem;
 	right: 2rem;

 }

}